@page "/editQuestion/{TopicID}/{questionID}"
@page "/editQuestion/add/{TopicID}"
@inject NavigationManager Navigation
@using Mkt3.Data
@using Mkt3.Components

@inject QuestionService QuestionService;

<PageTitle>Question Editor</PageTitle>


<p>Select a question type and enter values.  Click save when done.  </p>


@if (_question == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
     
    <div class="form-field">
        <div class="form-field-label" for="lastNameInput">Type: </div>
        <div class="form-field-control">
            <Select TValue="string" SelectedValue="@selectedType" SelectedValueChanged="@QuestionTypeChange">
         	    @foreach (var id in types)
         		{
         			<SelectItem Value="@id">@id</SelectItem>
         		}
            </Select>
        </div>
    </div>

    @if (_showTF)
    {
        <TrueFalseComponent question=_question TopicID="@TopicID" onResetClick="Reset" onSaveClick="Save"/>
    }
    @if (_showSA)
    {
        <ShortAnswerComponent question=_question TopicID="@TopicID" onResetClick="Reset" onSaveClick="Save"/>
    }
    @if (_showLA)
    {
        <LongAnswerComponent question=_question TopicID="@TopicID" onResetClick="Reset" onSaveClick="Save"/>
    }
    
}
@code {

    [Parameter]
    public string questionID { get; set; }
    
    [Parameter]
    public string TopicID { get; set; }
    


    private Question? _question;
    private bool _showTF = false;
    private bool _showSA = false;
    private bool _showLA = false;
    private bool _showMC = false;
    private Question? previousState;
    string[] types = new string[] { "True/False", "Short Answer", "Long Answer", "Multiple Choice" };
    private string selectedType;
    
    
    protected override async Task OnInitializedAsync()
    {
        if (questionID != null)
        {
            _question = await QuestionService.GetQuestionAsync(questionID);
            previousState = (Question)_question.Clone();
            selectedType = _question.type;

        }
        else
        {
            selectedType = "Short Answer";
            _question = new Question();
        }
        showBlock(selectedType);
    }

    private Task QuestionTypeChange(string obj)
    {
        var selected = obj;
        showBlock(selected);
        return Task.CompletedTask;
    }
    
    private void showBlock(string type) 
    {

        _showTF = false;
        _showSA = false;
        _showLA = false;
        _showMC = false;
        if (type == "True/False")
        {
            _showTF = true;
        }
        else if (type == "Short Answer")
        {
            _showSA = true;
        }
        else if (type == "Long Answer")
        {
            _showLA = true;
        }
        else if (type == "Multiple Choice")
        {
            _showMC = true;
        }
        selectedType = type;

        StateHasChanged();

    }
    
    private async void Reset()
    {
        if (previousState != null)
        {
            _question = (Question)previousState.Clone();
        }
     //   await QuestionService.Update(_question);
        showBlock(_question.type);
        StateHasChanged();
        Navigation.NavigateTo("/QuestionList/"+TopicID);
       
    }

    private async void Save()
    {
        Navigation.NavigateTo("/QuestionList/"+TopicID);
    }
    


}