@using Mkt3.Data
@using Mkt3.Shared
@inject QuestionService QuestionService
@inject IJSRuntime JSRuntime

<h3>QuestionList</h3>


<table class="table table-dark table-striped">
     <TableHeader>
    <TableRow>
        <AuthorizeView>
            <Authorized>
                <th></th>
            </Authorized>
        </AuthorizeView>
        <TableHeaderCell>
            <span @onclick="@(async () => await sortAsync("Title"))"><img width="12" src="@imageSortName"/>Question
            </span> </TableHeaderCell>
        <TableHeaderCell style="width: 150px">
            <span @onclick="@(async () => await sortAsync("Type"))"><img width="12" src="@imageSortName"/>Type
            </span> </TableHeaderCell>
        <TableHeaderCell style="width:10px;">
            
           
                
            </TableHeaderCell>

    </TableRow>
    </TableHeader>
    <TableBody>
    @foreach (var question in questions)
    {
        <TableRow>
            <AuthorizeView>
                <Authorized>
                   <!-- <td><a href="/editRepeater/@question.QuestionID"> <img width="12" src="@imageEditName"/></a></td>-->
                </Authorized>
            </AuthorizeView>
       
            <TableRowCell><a href="/editQuestion/@question.QuestionID">@question.Prompt</a>
                @foreach (var tag in question.ExamTags)
                                 {
                                     <button class="tag">@tag</button><button class="tag-remove">X</button>
                                 }
                </TableRowCell>
            <TableRowCell>@question.type</TableRowCell>
     
       
            <TableRowCell><button type="button" class="buttons buttons-red" @onclick="@(async () => await Delete(question.QuestionID))">Delete</button>   </TableRowCell>


        </TableRow>
    }
    </TableBody>
</table>

<a href="/editQuestion/" class="buttons">Add</a>    
@code {

    [Parameter] 
    public string questionBank { get; set; }
    
    [Parameter]
    public EventCallback onDeleteCallBack { get; set; }
    
    private Question[] questions { get; set; }
    private string currentSort =  "RFreq";
    private string currentOrder = "asc";
    private string imageSortName = "images/sort-asc-white.png";
    private string imageEditName = "images/edit-white.png";

    protected override async Task OnInitializedAsync()
    {
        Refresh();
    }

    private async void Refresh()
    {
        questions = await QuestionService.GetQuestionsByBank(questionBank);
    }

    private Task sortAsync(string sortData)
    {
        
        if (currentSort == sortData)
        {
            currentOrder = currentOrder == "asc" ? "desc" : "asc";
            imageSortName = "images/sort-" + currentOrder + "-white.png";
        }
        currentSort = sortData;
        
        //questions = questions.AsQueryable().OrderBy(sortData + " "+ currentOrder).ToArray();
        return Task.FromResult(true);
    }

    private void Add()
    {
       
    }

    private async Task Delete(string QuestionID)
    {


        if (!await JSRuntime.InvokeAsync<bool>("confirm","Are you sure you want to delete: " + QuestionID + "?")) return;
        var result = (QuestionService.Delete(QuestionID));
        StateHasChanged();
        Refresh();

    }
    
 

}